*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    font-family: 'Lato', sans-serif;
}
/* -----button section start ------*/
.common_btn{
    padding: 13px 30px;
    background-color: #E67E22;
    border: none;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
}
/* -----button section end ------*/

/* -----header section start ------*/

.head_container{
    background:url(./images/hero.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 720px;
    color: white;
    
}
.head_bd{
    width: 1155px;
    height: 450px;
    /* background-color: aquamarine; */
    position: relative;
    margin: 0 auto;
}
.head_logo{
    padding-top: 18px;
    /* margin: 0px auto; */
}
.head_logo img{
    width: 9%;
    float: left;
}
.head_logo ul{
    list-style-type: none;
    float: right;
}
.head_logo ul li{
    line-height: 100px;
    margin-left: 50px;
    font-size: 19px;
    letter-spacing: -1px;
    font-weight: 300;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}
.head_card{
    position: absolute;
    left: 0;
    bottom: 0;
}
.head_card h1{
    font-size: 50px; 
    text-transform: uppercase; 
     font-weight: 300;
     margin-bottom: 20px;
}
.head_card button{
    margin-right: 15px;
}
#head_2nd_btn{
    background-color: transparent;
    border: 2px solid #E67E22;
    color: #E67E22;
}
/* -----header section end ------*/

/* -----service section start ------*/
.service{
    height: 600px;
    /* background-color: #E67E22; */
    position: relative;
}
.service_header{
    width: 788px;
    height: 240px;
    /* background-color: antiquewhite; */
    margin: 80px auto;
    position: absolute;
    left: 0;
    right: 0;

}
.service_header h1{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}
.service_header h1::after{
    content: "";
        display: block;
        width: 100px;
        height: 3px;
        background: #E67E22;
        margin: 30px auto;
}

.service_header p{
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}
.service_card{
    width: 1140px;
    height: 350px;
    /* background-color: beige; */
    font-weight: 300;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.card_1,.card_2,.card_3,.card_4{
    width: 25%;
    float: left;
    padding: 50px 1%;
}
.card_1 i,.card_2 i,.card_3 i,.card_4 i{
    font-size: 45px;
    color: #E67E22;
    margin-bottom: 20px;
}
.card_1 h3,.card_2 h3,.card_3 h3,.card_4 h3{
    margin-bottom: 20px;
    font-weight: 300;
}

/* -----service section end ------*/

/* -----gallery section start ------*/


.gallery{
    height: 546px;
    /* background-color: #E67E22; */
}
._1,._2,._3,._4,._5,._6,._7,._8{
    width: 25%;
    float: left;
    
}
._1 img,._2 img,._3 img,._4 img,._5 img,._6 img,._7 img,._8 img{
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}
/* -----gallery section end ------*/

/* -----work section start ------*/

.works{
    height: 650px;
    background-color: #F4F4F4;
    position: relative;
}
.works_container{
    width: 910px;
    height: 650px;
    margin: 0px auto;
    position: absolute;
    left: 0;
    right: 0;
}
.works_container  h1{
    margin-top: 50px;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}
.works_container h1::after{
    content: "";
        display: block;
        width: 100px;
        height: 3px;
        background: #E67E22;
        margin: 20px auto;
}
.works_container .left img{
    width: 70%;
    margin-top: 50px;
    margin-left: 70px;
}
.works_container .left{
    width: 30%;
    float: left;
}
.works_container .right{
    margin-top: 30px;
    width: 70%;
    float: right;
}
.works_container .right ul li div{
    width: 55px;
    height: 55px;
    padding-top: 5px;
    font-size: 150%;
    background-color: transparent;
    border: orange;
    border: 2px solid orange;
    border-radius: 50%;
    color: orange;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}
.works_container .right ul li p{
    display: inline-block;
    width: 80%;
    line-height: 18px;
}

.works_container .right img{
    width: 25%;
    margin-right: 10px;
}
.works_container .right ul{
    list-style-type: none;
}
.works_container .right ul li{
    font-size: 20px;
    font-weight: 300;
    margin: 40px;
}
/* -----work section end ------*/


/* -------cities section start--------- */




/* -------cities section end--------- */
